<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>

<h2>Welcome <%= username %> (<%= role %>)</h2>

<ul>
  <% if(role === "MD"){ %>
    <li><a href="/assign">Assign Project</a></li>
  <% } %>
  <li><a href="/report">View Report</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

</body>
</html>
